.about-page {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.social-links img,
.languages-tools img {
    width: 80px;
    height: 80px;
    margin: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links img:hover,
.languages-tools img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2px orange);
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-width: 50%;
    height: auto;

    padding: 30px 10px;
    margin-bottom: 500px;
}

.get-in-touch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60%;
    left: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 0px orange;
}

.contact-form {
    margin-top: 40px;
    padding: 5%;
    width: 100%;
    background-color: white;
    border-radius: 5%;
}

.input-field {
    /* Add common styles for input fields */
    margin-bottom: 15px;
}

.message-textarea {
    /* Add styles for the message textarea */
    width: 100%;
    min-height: 200px;
    resize: vertical;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-contact {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}

.about-page header {
    background-color: transparent;
}

.about-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 0px orange;
}

.timeline-vertical-circle {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    outline: 3px dashed;
    border-radius: 50%;
}

.timelines {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px 50px;
}

.timeline {
    font-family: "Calibri";
    max-width: 1200px;
    width: 100%;
    margin: 30px;
}
.timeline img {
    object-fit: contain; /* Maintain the aspect ratio and fit within the container */
}

.timeline-certificate header {
    box-shadow: none;
    height: 0;
}

.timeline-certificate h1,
.timeline-certificate h2 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: Calibri Light;
}

.timeline-certificate div {
    font-size: 20px;
}

.timeline-certificate h2 {
    margin-left: 18px;
}

.MuiAccordion-gutters {
    outline: 1px solid;
    outline-color: orange;
    padding: 15px;
}

.MuiAccordion-gutters:hover {
    outline: 3px solid orange;
    transition: 0.5s ease;
    position: relative;
    bottom: 5px;
    outline-offset: 5px;
}
